@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer.ReactQueryDevtools button {
  filter: grayscale(1);
}

footer.ReactQueryDevtools button:hover {
  filter: grayscale(0);
}

/* @layer base {
  :root {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 115, 77, 122;
    --color-text-highlight: 115, 77, 122;
    --color-text-inverted: 115, 77, 122;
    --color-fill-base: 45, 43, 85; 
    --color-fill-muted: 30, 30, 63;
    --color-fill-highlight: 42, 33, 57;
    --color-fill-inverted: 42, 33, 57;
  }
  .theme-dark {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 115, 77, 122;
    --color-text-highlight: 115, 77, 122;
    --color-fill-base: 45, 43, 85; 
    --color-fill-muted: 30, 30, 63;
    --color-fill-highlight: 42, 33, 57;
  }
} */
